<div id="mainSlide1">
  <div class="chartsSlide1">
    <canvas id="chart1_1"></canvas>
  </div>
  <div class="chartsSlide1">
    <canvas id="chart1_2"></canvas>
  </div>
  <div class="chartsSlide1">
    <canvas id="chart1_3"></canvas>
  </div>
  <div class="chartsSlide1">
    <canvas id="chart1_4"></canvas>
  </div>
</div>
