
<div id="mainSlide2">
  <div class="chartsSlide2">
    <canvas id="chart2_1"></canvas>
  </div>
  <div class="chartsSlide2">
    <canvas id="chart2_2"></canvas>
  </div>
  <div class="chartsSlide2">
    <canvas id="chart2_3"></canvas>
  </div>
  <div class="chartsSlide2">
    <canvas id="chart2_4"></canvas>
  </div>
</div>
