<div id="mainDiv">
  <div class="slideshow-container">

    <%= render 'notification' %>

    <div class="mySlides">
      <%= render 'page01' %>
    </div>

    <div class="mySlides">
      <%= render 'page02' %>
    </div>

  </div>
</div>